html,body{
    height: 100%;
    width: 85%;
    /*background-color: #E0E0CE;*/
}
#aboutContainer{
    display: grid;
    height: 100%;
    width:90%;
    padding-top: 5%;
    padding-left: 10%;
    grid-gap: 15px;
    grid-template-columns: 40% 40% 45%;
    grid-template-rows:  10% 50% 20% ;
    grid-template-areas:
            "header header header"
             ". section aside"
            ". footer footer";
}
#aboutHeader {
    grid-area: header;
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    color: #F2BB05;
}
h2{
    /*font-family: 'Playfair Display', serif;*/
    font-family: 'Playfair Display', serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Boogaloo', cursive;
    color: #F2BB05;
    text-align: center;
}
h4{
    padding-top:50px;
    grid-area: header;
}
p{
    /*font-family: 'Playfair Display', serif;*/
    /*font-family: 'Playfair Display', serif;*/
    /*font-family: 'Shadows Into Light', cursive;*/
    /*font-family: 'Boogaloo', cursive;*/
    /*font-family: 'Rock Salt', cursive;*/
    font-size: 16px;
    text-align: center;
    color: black;
    font-weight: bolder;
}
#aboutMiddle{
    grid-area: section;
    position: relative;
    right: 100px;
    top:60px;
}
#aboutText{
    grid-area: aside;
    position: relative;
    right: 120px;
    /*top: 100px;*/
}
#aboutFooter{
    grid-area: footer;
    display: inline-block;
    text-align: center;
    position: relative;
    right: 200px;
    margin-top: 5%;
}

