html{
    /*background-color: darkcyan;*/
   width: fit-content;
    overflow-x: hidden;


}

#main{
 align-content: center;
    position: relative;
    /*left: 200px;*/
}
#about{
float: left;
    font-weight: normal;
    color: #F2BB05
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: black; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
header{
    text-align: center;
    font-family: 'Pacifico', cursive;

}

hr{
 margin-left: 5%;
}
h1{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: #F2BB05;
    font-weight: normal;
    font-size: 40px;
    /*font-family: 'Boogaloo', cursive;*/
}
#aboutBody{
    /*margin-left: 5%;*/
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    /*font-family: 'Boogaloo', cursive;*/
    font-size: large;
    font-weight: bold;
    color: black;
    position: relative;
    /*bottom:130px;*/
    /*color: #F2BB05;*/
}
h2{
   /*margin-left: 10%;*/
    font-family: 'Quicksand', sans-serif;
    /*font-family: 'Boogaloo', cursive;*/
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 5%;
    width: 100%;
    background-color:#F2BB05;
    /*opacity: 0.7;*/
    color: black;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}
#aboutmePic{
    margin-left: 35%;
    position: relative;
    top: 20px;
    left:60px;
   bottom: 100px;
}
#aboutTitle{
    margin-right: 10%;
}
#aboutMe{
    font-family: 'Boogaloo', cursive;
}

h3{
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 10%;
}
#aboutP{
    margin-left: 5%;
    margin-right:5%
}
#dribbble{
    float:right;
    position: relative;
    top:5px;
}
#ig{
    float:right;
}
#linkedin{
    float: right;
}
#gh{
    float:right;
}

#menu{
    float: left;
    position: relative;
    top: 5px;
    left:15px;
}























@media only screen and (max-width: 414px){
    #aboutmePic {
        position: relative;
        left: -53px;
    }
        /*position: relative;*/
        /*bottom: 70px;*/
        /*right: 65px;*/

    }
@media only screen and (max-width: 1024px){
    #aboutBody{
        margin-left: 10%;
    }
    #aboutmePic{
        margin-left: 25%;
    }
    #js_badge{
       margin-left: 25%;
    }
}
@media only screen and (max-width: 768px){
    #aboutmePic{
        position: relative;
        bottom: 70px;
        right:65px;
    }
    #aboutBody{
        font-size: large;
        margin-left: 15%;
        position: relative;
        bottom: 40px;
    }
    #js_badge{
        position: relative;
        right: 55px;
    }
}
@media only screen and (max-width: 480px){
    #aboutmePic{
        position: relative;
        right:65px;
    }
}
@media only screen and (max-width: 375px){
    #aboutmePic{
        margin-left:20%
    }
    #js_badge{
        position: relative;
        left:34px;
        height: 200px;
        width: 200px;
    }
}
h2{
    position: relative;
    left: 50px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #F2BB05;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: black;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
