html,body{
    height: 100%;
    width: auto;
    /*background-color: #E0E0CE;*/
    margin: 0px 0px 0px 0px;
}
#aboutContainer{
    display: grid;
    height: 100%;
    width:100%;
    /*padding-top: 5%;*/
    /*padding-left: 10%;*/
    grid-gap: 15px;
    grid-template-columns: 10% 40% 50%;
    grid-template-rows:  25% 45% 25% ;
    grid-template-areas:
            "header header header"
             ". section aside"
            ". footer footer";
}
#aboutHeader {
    grid-area: header;
    display: inline-block;
    text-align: center;
    padding-left: 10%;
    /*padding-right: 5%;*/

    background-color: #E0E0CE;
    /*border: 2px solid black;*/
    height: 90px;
    /*width:100%;*/
    margin-bottom: 20px;
}
h2{
    /*font-family: 'Playfair Display', serif;*/
    font-family: 'Playfair Display', serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Boogaloo', cursive;
    color: #F2BB05;
    text-align: center;
}
h3{
    display: inline-block;
    float: left;
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #F2BB05;
}
h4{
    /*padding-top:50px;*/
    grid-area: header;
}
p{
    /*font-family: 'Playfair Display', serif;*/
    /*font-family: 'Playfair Display', serif;*/
    /*font-family: 'Shadows Into Light', cursive;*/
    /*font-family: 'Boogaloo', cursive;*/
    /*font-family: 'Rock Salt', cursive;*/
    font-size: 16px;
    text-align: center;
    color: black;
    font-weight: bolder;
}
#aboutMiddle{
    grid-area: section;
    /*position: relative;*/
    /*right: 100px;*/
    /*top:60px;*/
}
#aboutText{
    grid-area: aside;
    position: relative;
    right: 120px;
    /*top: 100px;*/
    /*margin-top: 60px;*/
}
#aboutFooter{
    grid-area: footer;
    display: inline-block;
    text-align: center;
    position: relative;
    right: 200px;
    margin-top: 5%;
    margin-left: 5%;
    /*margin-top:10%;*/
    /*margin-right:5%;*/
    color: #F2BB05;
    /*background-color: #E0E0CE;*/
    height: 90px;
}
#footercontainer{
    /*border: 2px solid black;*/
    width: auto;
    margin-left: 10%;
}
#ig{
    /*float: right;*/
    position: relative;
    left: 600px;
    bottom: 10px
}
#linkedin{
    /*float: right;*/
    position: relative;
    left: 515px;
    bottom: 10px;
}
#aboutMe{
    margin-right:5%;
}
#projects{
    margin-right:5%;
}
#skills{
    margin-right:5%;
}
#education{
    margin-right:5%;
}
#resume{
    margin-right:5%;
}
#youtube{
    margin-right: 5%;
}
#contactMe{
    margin-right:5%
}
#home{
    margin-right: 5%;
}