html,body{
    height: 100%;
    width: 90%;
    /*background-color: #E0E0CE*/
    margin: 0px 0px 0px 0px;
}
#contactContainer{
    display: grid;
    height: 100%;
    width:80%;
    /*padding-top: 5%;*/
    /*padding-left: 10%;*/
    grid-gap: 20px;
    grid-template-columns: 40% 40% 58% 1fr;
    grid-template-rows:  25% 45% 25% ;
    grid-template-areas:
            "header header header"
            ". section aside"
            ". footer footer";
}
#contactHeader{
    grid-area: header;
    text-align: center;
    display: inline-block;
    padding-left: 10%;
    padding-right: 5%;
    background-color: #E0E0CE;
    margin-bottom: 20px;
    height: 90px;
}
#contactMiddle{
    grid-area: aside;
    padding-right: 40%;
    text-align: center;
    display: block;
}
#contactAside{
    grid-area: section;
    display: block;
    margin-right: 25%;
    margin-top: 10%;
}
#contactForm{
    /*border: 2px solid black;*/
    border-radius: 30px;
    border-collapse: collapse;
    height:310px;
    width: 450px;
    display:inline-block;
    position: relative;
    /*right: 250px;*/
}
#contactFooter{
    grid-area: footer;
    text-align: center;
    position: relative;
    right: 275px;
    bottom: 40px;
    margin-top: 20%;
}
#Name{
    margin-top: 10px;
    margin-bottom: 30px;
}
#Email{
    margin-top: 10px;
    margin-bottom: 30px;
}
#message{
    margin-top: 5px;
    margin-bottom: 30px;
}
#mc_embed_signup{
    position: relative;
    left: 100px;
    /*background-color: #E0E0CE*/
}
#mc-embedded-subscribe-form{
    /*background-color: #E0E0CE*/
}
.clear{
    margin-top: 5%;
}
input{
    border-radius: 5px;
}
textarea{
    border-radius: 5px;
}
p{
    font-family: 'Fredoka One', cursive
}
fieldset{
    text-align: center;
}
label{
    font-family: 'Fredoka One', cursive;
}
h3{
    display: inline-block;
    float: left;
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #F2BB05;
}
#ig{
    float: right;
    position: relative;
    top: 30px;
}
#linkedin{
    float: right;
    position: relative;
    top: 30px;
}
iframe{
    position: relative;
    bottom: 60px;
}