html,body{
    height: 100%;
    width: width;
    /*background-color: #E0E0CE*/
    margin: 0px 0px 0px 0px;
}
#contactContainer{
    display: grid;
    height: 100%;
    width:100%;
    /*padding-top: 5%;*/
    /*padding-left: 10%;*/
    grid-gap: 15px;
    grid-template-columns: 10% 40% 50%;
    grid-template-rows:  25% 45% 25% ;
    grid-template-areas:
            "header header header"
            ". section aside"
            ". footer footer";
}
#contactHeader{
    grid-area: header;
    text-align: center;
    display: inline-block;
    padding-left: 5%;
    /*padding-right: 5%;*/
    background-color: #E0E0CE;
    margin-bottom: 20px;
    height: 90px;
}
#contactMiddle{
    grid-area: aside;
    /*padding-right: 40%;*/
    text-align: center;
    display: block;
}
#contactAside{
    grid-area: section;
    display: block;
    margin-left: 45%;
    /*margin-right: 25%;*/
    margin-top: 5%;
    margin-bottom: 50%;
    /*border: 5px solid #F2BB05;*/
}
#contactForm{
    /*border: 2px solid black;*/
    border-radius: 30px;
    border-collapse: collapse;
    height:310px;
    width: 450px;
    display:inline-block;
    position: relative;
    /*right: 250px;*/
}
#contactFooter{
    grid-area: footer;
    text-align: center;
    position: relative;
    width:auto;
    margin-top: 5%;
    margin-left: 20%;
    right: 200px;
    height:90px;
    color: #F2BB05;
    /*bottom: 40px;*/
    /*margin-top: 20%;*/
}
#Name{
    margin-top: 10px;
    margin-bottom: 30px;
}
#Email{
    margin-top: 10px;
    margin-bottom: 30px;
}
#message{
    margin-top: 5px;
    margin-bottom: 30px;
}
#mc_embed_signup{
    /*margin-top: 5%;*/
    /*float: right;*/
    /*margin*/
    margin-left: 65%;
    margin-bottom: 30%;
    /*position: relative;*/
    /*left: 100px;*/
    /*background-color: #E0E0CE*/
}
#mc-embedded-subscribe-form{
    /*float: right;*/
    /*background-color: #E0E0CE*/
}
.clear{
    margin-top: 5%;
}
input{
    border-radius: 5px;
}
textarea{
    border-radius: 5px;
}
p{
    margin-top: 5%;
    font-family: 'Fredoka One', cursive
}
fieldset{
    text-align: center;
}
label{
    font-family: 'Fredoka One', cursive;
}
h3{
    display: inline-block;
    float: left;
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #F2BB05;
}
#ig{
    /*float: right;*/
    position: relative;
    /*top: 30px;*/
    left: 600px;
    bottom: 10px
}
#linkedin{
    /*float: right;*/
    position: relative;
    /*top: 30px;*/
    left: 515px;
    bottom: 10px;
}
iframe{
    position: relative;
    bottom: 80px;
    right:300px;
   margin-bottom: 30%;
    margin-right: 30%;
    /*border: 4px solid #F2BB05;*/
    /*border-radius: 15px;*/
}
#aboutMe{
    margin-right:5%;
}
#projects{
    margin-right:5%;
}
#skills{
    margin-right:5%;
}
#education{
    margin-right:5%;
}
#resume{
    margin-right:5%;
}
#youtube{
    margin-right: 5%;
}
#contactMe{
    margin-right:5%
}
#home{
    margin-right: 5%;}
div{
    margin-left: 30%;
    margin-bottom: 60%;
    position: relative;
    bottom:250px;
}