html,body{
    height: 100%;
    width: 90%;
    /*background-color: #E0E0CE*/
    margin:0px 0px 0px 0px;
}
#educationContainer{
    display: grid;
    height: 100%;
    width:80%;
    /*padding-top: 5%;*/
    /*padding-left: 10%;*/
    grid-gap: 20px;
    grid-template-columns: 40% 40% 58% 1fr;
    grid-template-rows:  25% 45% 25% ;
    grid-template-areas:
            "header header header"
            ". section aside"
            ". footer footer";
}
#educationHeader{
    grid-area: header;
    display: inline-block;
    text-align: center;
    padding-left: 10%;
    padding-right: 5%;
    background-color: #E0E0CE;
    height: 90px;
    margin-bottom: 20px;
}
#educationMiddle{
    grid-area: section;
    padding-right: 30%;
    position: relative;
    right: 100px;
    top: 60px;
    bottom: 70px;
}
#educationAside{
grid-area: aside;
    position: relative;
    right: 100px;
    top:60px
 }
#educationFooter{
  grid-area: footer;
    text-align: center;
    position: relative;
    right: 200px;
    font-family: 'Pacifico', cursive;
}
h2{
    text-align: center;
    /*font-family: 'Pacifico', cursive;*/
    font-family: 'Playfair Display', serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Boogaloo', cursive;
}
p{
    /*font-family: 'Fredoka One', cursive;*/
    font-size: 20px;
    color: #F2BB05;
}
h3{
    display: inline-block;
    float: left;
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #F2BB05;
}
#ig{
    float: right;
    position: relative;
    top: 30px;
}
#linkedin{
    float: right;
    position: relative;
    top: 30px;
}
#tsu{
    grid-area: section;
    position: relative;
    bottom: 90px;
    right:60px;
}
#lipscomb{
    grid-area: aside;
    /*float: right;*/
    /*float: top;*/
    position: relative;
    left:740px;
    bottom: 300px;
    /*top:40px;*/
}
#codecrew{
    grid-area: section;
    position: relative;
    bottom: 520px;
    left: 290px;

}
#thinking{
    position: relative;
    right:100px;
}