html,body{
    height: 100%;
    width: 85%;
    /*background-color: #E0E0CE*/
}
#educationContainer{
    display: grid;
    height: 100%;
    width:70%;
    padding-top: 5%;
    padding-left: 10%;
    grid-gap: 20px;
    grid-template-columns: 40% 40% 45%;
    grid-template-rows:  10% 50% 20% ;grid-area: header;
    grid-template-areas:
            "header header header"
            ". section aside"
            ". footer footer";
}
#educationHeader{
    grid-area: header;
    text-align: center;
    margin-bottom: 40px;
}
#educationMiddle{
    grid-area: section;
    padding-right: 30%;
    position: relative;
    right: 100px;
    top: 60px;
}
#educationAside{
grid-area: aside;
    position: relative;
    right: 100px;
    top:60px
 }
#educationFooter{
  grid-area: footer;
    text-align: center;
    position: relative;
    right: 200px;
}
h2{
    text-align: center;
    /*font-family: 'Pacifico', cursive;*/
    font-family: 'Playfair Display', serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Boogaloo', cursive;
}
p{
    /*font-family: 'Fredoka One', cursive;*/
    font-size: 20px;
    color: #F2BB05;
}