html,body{
    height: 100%;
    width: width;
    /*background-color: #E0E0CE*/
    margin:0px 0px 0px 0px;
}
#educationContainer{
    display: grid;
    height: 100%;
    width:100%;
    /*padding-top: 5%;*/
    /*padding-left: 10%;*/
    grid-gap: 15px;
    grid-template-columns: 10% 40% 50%;
    grid-template-rows:  25% 45% 25% ;
    grid-template-areas:
            "header header header"
            ". section aside"
            ". footer footer";
}
#educationHeader{
    grid-area: header;
    display: inline-block;
    text-align: center;
    padding-left: 10%;
    /*padding-right: 5%;*/
    background-color: #E0E0CE;
    height: 90px;
    margin-bottom: 20px;
}
#educationMiddle{
    grid-area: section;
    margin-left: 25%;
    margin-bottom: 25%;
    /*padding-right: 30%;*/
    /*position: relative;*/
    /*right: 100px;*/
    /*top: 60px;*/
    /*bottom: 70px;*/
}
#educationAside{
grid-area: aside;
    position: relative;
    right: 100px;
    top:60px
 }
#educationFooter{
  grid-area: footer;
    text-align: center;
    position: relative;
    right: 100px;
    color: #F2BB05;
    font-family: 'Pacifico', cursive;
}
h2{
    text-align: center;
    /*font-family: 'Pacifico', cursive;*/
    font-family: 'Playfair Display', serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Boogaloo', cursive;
}
p{
    /*font-family: 'Fredoka One', cursive;*/
    font-size: 20px;
    color: #F2BB05;
}
h3{
    display: inline-block;
    float: left;
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #F2BB05;
}
#ig{
    float: right;
    position: relative;
    top: 30px;
    margin-right: 5%;
}
#linkedin{
    float: right;
    position: relative;
    top: 30px;
}
#tsu{
    grid-area: section;
    margin-right: 10%;
    /*position: relative;*/
    /*bottom: 90px;*/
    /*right:60px;*/
}
#lipscomb{
    grid-area: aside;
    /*float: right;*/
    /*float: top;*/
    position: relative;
    left:740px;
    bottom: 260px;
    /*top:40px;*/
}
#codecrew{
    grid-area: section;
    /*margin-bottom: 5%;*/
    position: relative;
  bottom: 520px;
    left: 320px;

}
#thinking{
    margin-top: 5%;
    margin-bottom: 3%;
    /*position: relative;*/
    /*right:100px;*/
}
#aboutMe{
    margin-right:5%;
}
#projects{
    margin-right:5%;
}
#skills{
    margin-right:5%;
}
#education{
    margin-right:5%;
}
#resume{
    margin-right:5%;
}
#youtube{
    margin-right: 5%;
}
#contactMe{
    margin-right:5%
}
#home{
    margin-right: 5%;}
#headerpic{
    margin-right: 15%;
}
#psych{
    position: relative;
    left:100px;
    bottom: 60px;
    font-family: 'Fredoka One', cursive;
    color: orange;
}
#cc{
    position: relative;
    bottom: 555px;
    left:400px;
    font-family: 'Fredoka One', cursive;
    color: orange;
}
#np{
   float:right;
    position: relative;
    left:485px;
    bottom: 70px;
    font-family: 'Fredoka One', cursive;
    color: orange;
}
h1{
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Playfair Display', serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Boogaloo', cursive;
    color: #F2BB05;
    /*font-size: 20px;*/
}