html,body{
    /*height:100%;*/
    /*width:100%;*/
    /*background-color: darkcyan;*/
}
#container{
    display: grid;
    height: 100%;
    width:90%;
    grid-gap: 15px;
    grid-template-columns: 20% 40% 30%;
    grid-template-rows:  20% 50% 25% ;
    grid-template-areas:"header header header"
                         ". section aside"
                       ". footer footer";
}
#header{
    grid-area: header;
}
#section{
    grid-area: section;
    display: block;
    position: relative;
    bottom: 100px;

}
#textTitle{
    grid-area: aside;
}
h2{
    font-size: 48px;
    /*font-family: 'Playfair Display', serif;*/
    font-family: 'Quicksand', sans-serif;
    /*font-family: 'Playfair Display', serif;*/
    /*font-family: 'Shadows Into Light', cursive;*/
    /*font-family: 'Boogaloo', cursive;*/
    color: #F2BB05;
    font-weight: bold;
}
h4{
    color: #F2BB05;
    font-family: 'Quicksand', sans-serif;
    /*font-family: 'Playfair Display', serif;*/
    /*font-family: 'Shadows Into Light', cursive;*/
    /*font-family: 'Boogaloo', cursive;*/
}
p{
    font-family: 'Quicksand', sans-serif;
    /*font-family: 'Playfair Display', serif;*/
    /*font-family: 'Playfair Display', serif;*/
    /*font-family: 'Shadows Into Light', cursive;*/
    /*font-family: 'Boogaloo', cursive;*/
    color: black;
    font-weight: bold;
    font-size: x-large;
}
#footer{
    grid-area:footer;
    display:inline-block;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin-top: 5%;
    margin-right: 15%
    /*font-family: 'Pacifico', cursive;*/

}
#aboutMe{
    /*width:100%*/
    /*position: relative;*/
    /*right: 30px;*/
    /*margin-left: 5%;*/
}

#projects{
    position: relative;
    right:10px;
    margin-right: 5%;
}
#skills{
    position: relative;
    right: 30px;
}
#education{
    position: relative;
    left: 5px;
}
#resume{
    position: relative;
    left: 40px;
}
#youtube{
    position: relative;
    left: 65px;
    /*right:10px;*/
}
#contactMe{
    position: relative;
    left:25px;
}
@media only screen and (max-width: 375px){
    #basic_smile{
        margin-top: -48%;
        /*margin-left: 35%;*/

    }
    h2{
        /*margin-top: 90%;*/
        /*margin-left: 30%;*/
    }
    p{

        /*margin-left: 30%;*/
    }
    #projects{
        margin-left: 60%;
    }
    #aboutMe{

        position: relative;
        top: 90px;
        right:50px;
    }
    #footer{
        margin-bottom: 10%;
        margin-top:2%;
        margin-left: 11%;
        /*position: relative;*/
        /*left:30px;*/
    }
}
@media only screen and (max-width: 768px) {
    #basic_smile{
        position: relative;
        right: 160px;
    }
    h2{
        position: relative;
        right:10px;
    }
    p{
        position: relative;
        right: 220px;
        top: 50px;
    }
    #footer{
        margin-top:30%;
        margin-right: 22%;
        position: relative;
        top:135px;
    }
    #contactMe{
        position: relative;
        left:0px;
    }
    #container{
        position: relative;
        bottom:130px;
    }
}
@media only screen and (max-width: 480px){
    #basic_smile{
        position: relative;
        right:150px;
        bottom: 50px;
    }
    h2{
        font-size: 35px;
    }
    p{
        display: contents;
    }
    #footer{
        display: inline-block;
    }
    #skills{
        position: relative;
        right: 10px;
    }
    #contactMe{
        position: relative;
        left: 4px;
    }
}
@media only screen and (max-width: 414px){
    #basic_smile{
        /*position: relative;*/
        /*bottom: 175px;*/
        /*right:90px;*/
        /*margin-top: 70%;*/

margin-left:55%;

    }
    h2{
         position: relative;
         top: 245px;
         right: 100px;
    font-size: x-large;
     }
    p{

        display: inline-block;
        position: relative;
        right: 86px;
        margin-top: 190%;
        font-size: large;
    }

}
@media only screen and (max-width: 1024px){
    #container{
        margin-top: 25%;
    }
    #footer{
        margin-top: 10%;
    }
}