html,body{
    height: 100%;
    width: 85%;
}
#projectsContainer{
    display: grid;
    height: 100%;
    width:85%;
    padding-top: 5%;
    padding-left: 10%;
    grid-gap: 20px;
    grid-template-columns: 40% 40% 45%;
    grid-template-rows:  10% 50% 20% ;
    grid-template-areas:
            "header header header"
            ". section aside"
            ". footer footer";
}
#projectsHeader{
    grid-area: header;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}
#ProjectsMiddle{
    grid-area: aside;
    position: relative;
    right: 100px;
    top:60px
}
#projectsPicture{
    grid-area: section;
    position: relative;
    right: 100px;
    top: 60px;
}
#projectsFooter{
    grid-area: footer;
    text-align: center;
    display: inline-block;
    position: relative;
    right: 200px;
}