html,body{
    background-color: darkcyan;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: orange; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
header{
    text-align: center;
    font-family: 'Pacifico', cursive;

}
#ig,#linkedin,#youtube{
    float: right;
    margin-bottom: 25%;
}
h1{
    font-family: 'Quicksand', sans-serif;
    color: #F2BB05;
}
#projectTitle{
    color: #F2BB05;

}
#carouselExampleControls{
    margin-top: 6.5%;
    width:25.5%;
    margin-left: 40%;
}
footer{
    text-align: center;
    margin-top: 10%;
    font-family: 'Quicksand', sans-serif;
    color: orange;
    font-weight: bolder;
}
#carouselExampleControls{
    /*height: 80%;*/
}
.carousel-inner{
    width: 1400px;
    position: relative;
    right: 480px;

}
.carousel-control-prev-icon{
    color: orangered;
}
.carousel-control-prev {
    color: orangered;
}
#projectPics{
    /*position: relative;*/
    /*bottom: 10px;*/
    margin-bottom: 5%;
    margin-left: 20%;
}
#projectHeader{
    margin-left: 5%;
    margin-top: 2%;
    position: sticky;
}
p{
    color: white;
    font-size: larger;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}