html,body{
    height: 100%;
    width: 90%;
    /*background-color: #E0E0CE*/
    margin: 0px 0px 0px 0px;
}
#projectsContainer{
    display: grid;
    height: 100%;
    width:90%;
    /*padding-top: 5%;*/
    /*padding-left: 10%;*/
    grid-gap: 20px;
    grid-template-columns: 40% 40% 58% 1fr;
    grid-template-rows:  25% 45% 25% ;
    grid-template-areas:
            "header header header"
            ". section aside"
            ". footer footer";
}
#projectsHeader{
    grid-area: header;
    display: inline-block;
    text-align: center;
    padding-left: 10%;
    padding-right: 5%;
    background-color: #E0E0CE;
    height: 90px;
    /*width: 20px;*/
    margin-bottom: 20px;

}
#ProjectsMiddle{
    grid-area: section;
    position: relative;
    right: 100px;
    top:60px;
    margin-left: 20%;
}
#projectsPicture{
    grid-area: section;
    position: relative;
   right: 200px;
    top: 60px;
}
#projectsFooter{
    grid-area: footer;
    text-align: center;
    display: inline-block;
    position: relative;
    right: 230px;
    top: 90px;
}
a{
    display: inline-block;
}
p{
    position: relative;
    right: 200px;
    display: inline-block;
}
#google_pic{
    grid-area: section;
    position: relative;
    left: 600px;
    bottom: 250px;
}
#click_game{
    position: relative;
    left: 150px;
}
h1{
    text-align: center;
    margin-left: 45%;
    /*font-family: 'Pacifico', cursive;*/
    font-family: 'Playfair Display', serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Boogaloo', cursive;
    color: #F2BB05;
    position: relative;
    bottom:60px;
}
h3{
    display: inline-block;
    float: left;
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #F2BB05;
}
#ig{
    float: right;
    position: relative;
    top: 30px;
}
#linkedin{
    float: right;
    position: relative;
    top: 30px;
}