html,body{
    height: 100%;
    width: auto;
    /*background-color: #E0E0CE*/
    margin: 0px 0px 0px 0px;
}
#projectsContainer{
    display: grid;
    height: 100%;
    width:100%;
    /*padding-top: 5%;*/
    /*padding-left: 10%;*/
    grid-gap: 15px;
    grid-template-columns: 10% 40% 50%;
    grid-template-rows:  25% 45% 25% ;
    grid-template-areas:
            "header header header"
            ". section aside"
            ". footer footer";
}
#projectsHeader{
    grid-area: header;
    display: inline-block;
    text-align: center;
    padding-left: 10%;
    /*padding-right: 5%;*/
    background-color: #E0E0CE;
    height: 90px;
    /*width: auto;*/
    margin-bottom: 20px;

}
#ProjectsMiddle{
    grid-area: section;
    /*position: relative;*/
    /*right: 100px;*/
    /*top:60px;*/
    margin-left: 45%;
}
#projectsPicture{
    grid-area: section;
    position: relative;
   right: 200px;
    top: 60px;
}
#projectsFooter{
    grid-area: footer;
    text-align: center;
    display: inline-block;
    position: relative;
    width:auto;
    margin-top: 5%;
    margin-left: 10%;
    right: 200px;
    /*top: 90px;*/
    height: 90px;
}
/*a{*/
/*    display: inline-block;*/
/*}*/
p{
    position: relative;
    right: 200px;
    display: inline-block;
}
#google_pic{
    grid-area: section;
    position: relative;
    left: 650px;
    bottom: 250px;
}
#click_game{
    position: relative;
    left: 200px;
    bottom: 10px;
}
h1{
    text-align: center;
    /*font-size: 28px;*/
    margin-left: 45%;
    /*font-family: 'Pacifico', cursive;*/
    font-family: 'Playfair Display', serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Boogaloo', cursive;
    color: #F2BB05;
    position: relative;
    bottom:60px;
    left:100px;
}
h3{
    display: inline-block;
    float: left;
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #F2BB05;
}
#ig{
    /*float: right;*/
    position: relative;
    left: 600px;
    bottom: 10px;
}
#linkedin{
    /*float: right;*/
    position: relative;
    /*top: 30px;*/
    left: 515px;
    bottom: 10px;
}
#worksp{
    text-align: center;
    float: right;
}
#footer2{
    width:auto;
    margin-left:10%;
}

#aboutMe{
    margin-right:5%;
}
#projects{
    margin-right:5%;
}
#skills{
    margin-right:5%;
}
#education{
    margin-right:5%;
}
#resume{
    margin-right:5%;
}
#youtube{
    margin-right: 5%;
}
#contactMe{
    margin-right:5%
}
#home{
    margin-right: 5%;}
