html,body{
    height: 100%;
    width: width;
    /*background-color: #E0E0CE;*/
    margin: 0px 0px 0px 0px;
}
#resumeContainer{
    display: grid;
    height: 100%;
    width:100%;
    /*padding-top: 5%;*/
    /*padding-left: 10%;*/
    grid-gap: 15px;
    grid-template-columns: 10% 40% 50%;
    grid-template-rows:  25% 45% 25% ;
    grid-template-areas:
            "header header header"
            ". section section"
            ". footer footer";
}
#resumeHeader{
        grid-area: header;
    display: inline-block;
    text-align: center;
    padding-left: 10%;
    /*padding-right: 5%;*/
    background-color: #E0E0CE;
    height: 90px;
    margin-bottom: 20px;
}
#resumeMiddle{
    grid-area: section;
    /*margin-left: 25%;*/
  /*  margin-bottom: 30%;*/
  /*  padding-right: 30%;*/
  text-align: center;
  /*  position: relative;*/
  /*  bottom:40px*/
}
#resumeFooter{
    grid-area: footer;
    text-align: center;
    width:auto;
    margin-top:5%;
    margin-left: 20%;
    height: 90px;
    /*margin-bottom: 15%;*/
    position: relative;
    right: 200px;
    color: #F2BB05;
    font-family: 'Pacifico', cursive;
}
iframe{
    position: relative;
    bottom: 50px;
    float: left;
    border: 5px solid orange;
    border-radius: 20px;
}
button{
    position: relative;
    right: 80px;
    height: 50px;
    border-radius: 30px;
    float: inside;
    top: 100px;
    border: 3px solid #F2BB05;
}
h3{
    display: inline-block;
    float: left;
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #F2BB05;
}
#ig{
    /*float: right;*/
    position: relative;
    /*top: 30px;*/
    left: 600px;
    bottom: 10px;
}
#linkedin{
    /*float: right;*/
    position: relative;
    /*top: 30px;*/
    left: 515px;
    bottom: 10px;
}
#aboutMe{
    margin-right:5%;
}
#projects{
    margin-right:5%;
}
#skills{
    margin-right:5%;
}
#education{
    margin-right:5%;
}
#resume{
    margin-right:5%;
}
#youtube{
    margin-right: 5%;
}
#contactMe{
    margin-right:5%
}
#home{
    margin-right: 5%;}
/*#headerpic{*/
/*    margin-right: 5%;*/
/*}*/