html{
    background-color: darkcyan;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: orange; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
header{
    text-align: center;
    font-family: 'Pacifico', cursive;

}
#ig,#linkedin,#youtube{
    float: right;
    margin-bottom: 25%;
}
#skillsContainer{
  margin-top: 5%;
    margin-left: 5%;
}
h1{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: #F2BB05;
    font-weight: normal;
    font-size: 40px;
    position: sticky;
}
#skills{
    float: left;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    color: #F2BB05;
}
ul{
    list-style-type: none;
    color: white;
}
h2{
    font-family: 'Quicksand', sans-serif;
    /*margin-left: 5%;*/
    color: white;
}
footer{
    text-align: center;
    margin-top: 10%;
    font-family: 'Quicksand', sans-serif;
    color: orange;
    font-weight: bolder;
}
#skills1{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }
}
#skills2{
    margin-left: 5%;
    margin-right: 5%;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }
}

#skillsMiddle{
    grid-area: section;
    text-align: center;
    margin-right: 45%;
    margin-left: 16%;
    margin-bottom: 20%;
    /*padding-left: 10%;*/
    position: relative;
    left: 150px;
}
.tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

}
/* ----------------------------------------------
 * Generated by Animista on 2020-1-13 10:48:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

h3{
  margin-left: 40px;
}
p{
    font-size: xx-large;
    color: #F2BB05;
}
@media only screen and (max-width: 768px){
    #skills1{
        position: relative;
        right: 170px;
        top: 40px;
    }
    #skills2{
        position: relative;
        bottom: 245px;
        left: 38px;
    }
    h2{
        position: relative;
        bottom: 230px;
        right: 53px;
        font-size: xx-large;
        text-align: center;
    }

}
