html,body{
    height: 100%;
    width: 90%;
    /*background-color: #E0E0CE;*/
    margin: 0px 0px 0px 0px;
}
#projectsContainer{
    display: grid;
    height: 100%;
    width:90%;
    /*padding-top: 5%;*/
    /*padding-left: 10%;*/
    grid-gap: 20px;
    grid-template-columns: 40% 40% 58% 1fr;
    grid-template-rows:  25% 45% 25% ;
    grid-template-areas:
            "header header header"
            ". section section"
            ". footer footer";
}
#skillsHeader{
    grid-area: header;
    display: inline-block;
    text-align: center;
    padding-left: 10%;
    padding-right: 5%;
    background-color: #E0E0CE;
    height: 90px;
    margin-bottom: 20px;
    width:110%
}
#skillsMiddle{
    grid-area: section;
    text-align: center;
    padding-left: 10%;
    position: relative;
    left: 100px;
}
#skillsFooter{
    grid-area: footer;
    text-align: center;
    padding-left: 10%;
    position: relative;
    left: 80px;
}
#point{
    grid-area: section;
    position: relative;
    left: 300px;
    bottom: 200px;
}
h2{
    /*font-family: 'Pacifico', cursive;*/
    font-family: 'Playfair Display', serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Boogaloo', cursive;
    color: #F2BB05;
}
p{
    font-weight: bolder;
   /*font-family: 'Fredoka One', cursive;*/
}
#title_corner{
    display: inline-block;
    float: left;
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #F2BB05;
}
#ig{
    float: right;
    position: relative;
    top: 30px;
}
#linkedin{
    float: right;
    position: relative;
    top: 30px;
}