html,body{
    height: 100%;
    width: 85%;
}
#youtubeContainer{
    display: grid;
    height: 100%;
    width:70%;
    padding-top: 5%;
    padding-left: 10%;
    grid-gap: 20px;
    grid-template-columns: 40% 40% 45%;
    grid-template-rows:  10% 50% 20% ;grid-area: header;
    grid-template-areas:
            "header header header"
            ". section section"
            ". footer footer";
}
#youtubeHeader{
    grid-area: header;
    text-align: center;
    margin-bottom: 40px;}
#youtubeMiddle{
    grid-area: section;
    padding-right: 40%;
    text-align: center;
}
#youtubeFooter{
    grid-area: footer;
    text-align: center;
    position: relative;
    right: 200px;
    margin-top: 45px;
}
p{
    font-family: 'Fredoka One', cursive;
    position: relative;
   left: 20px;
    color: #F2BB05;
}
iframe{
    text-align: center;
}