html,body{
    height: 100%;
    width: 90%;
    /*background-color: #E0E0CE;*/
    margin:0px 0px 0px 0px;
}
#youtubeContainer{
    display: grid;
    height: 100%;
    width:80%;
    /*padding-top: 5%;*/
    /*padding-left: 10%;*/
    grid-gap: 20px;
    grid-template-columns: 40% 40% 58% 1fr;
    grid-template-rows:  25% 45% 25%;
    grid-template-areas:
            "header header header"
            ". section section"
            ". footer footer";
}
#youtubeHeader{
    grid-area: header;
    display: inline-block;
    text-align: center;
    padding-left: 10%;
    padding-right: 5%;
    background-color: #E0E0CE;
    height: 90px;
    margin-bottom: 20px;}
#youtubeMiddle{
    grid-area: section;
    padding-right: 40%;
    text-align: center;
    margin-bottom: 30px;
}
#youtubeFooter{
    grid-area: footer;
    text-align: center;
    position: relative;
    right: 200px;
    margin-top: 45px;
}
p{
    /*font-family: 'Fredoka One', cursive;*/
    font-family: 'Playfair Display', serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Boogaloo', cursive;
    position: relative;
    left: 15px;
    bottom: 35px;
    font-size: 20px;
    color: #F2BB05;
    margin-bottom: 20px;
}
iframe{
    text-align: center;
    position: relative;
    bottom: 40px;
}
h3{
    display: inline-block;
    float: left;
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #F2BB05;
}
#ig{
    float: right;
    position: relative;
    top: 30px;
}
#linkedin{
    float: right;
    position: relative;
    top: 30px;
}